body {
    font-family: "Raleway", sans-serif;
  }
  
  /* conding section */
  
  #Cover-section {
    background-image: url("../imgs/coding_mac.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 700px;
  }
  
  /* info */

#info_personal {
    font-weight: 700;
    color: #fff;
    background-color: #26292b;
  }